extends layout.pug

block content
    .mt-5
        div.container-sm
            div.row.justify-content-center
                div.col-sm-6
                    h1.text-center Login
                    .card.bg-light
                        form.m-5(action='/login', method='post')
                            div.form-group
                                label(for='username' class='form-label') Username
                                input.form-control(type='text', name='username' class='form-control')
                            div.form-group
                                label(for='password' class='form-label') Password
                                input.form-control(type='password', name='password' class='form-control')
                            br
                            div.d-flex.gap-3
                                button.btn.btn-primary(type='submit') Sign in
                                a.mt-2(href='/') Nevermind!
                            p 
                            | Don't have an account yet? 
                            a(href='/signup') Sign up here!
                            
                            if message 
                                div.alert.alert-danger.mt-3.mb-0
                                    p #{message}
            
                        
